<li [ngClass]="{'list-group-item' : true,
				'list-group-item-success' : loveIts > 0,
                'list-group-item-danger' : loveIts < 0 }">
    <p style="margin-bottom:30px">
        <span style="float: left; font-size:xx-large; font-weight: bold"> {{title}}</span>
        <span style="float: right; font-size:large" >le {{created_at| date: 'EEEE dd MMMM yyyy'}} à {{created_at| date: 'HH:mm:ss'}}</span>
    </p>
    <p style="margin-bottom:20px; clear: both">
        {{content}}
    </p>
    <button
        class="btn btn-success"
        (click)="onLoveIt()"
        style="margin-right: 10px">
        Love It
    </button>
    <button 
        class="btn btn-danger" 
        (click)="onDontLoveIt()">
        Dont't love It
    </button>
</li>